<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapState } from 'vuex';
import ProjectDetails from '@/views/dashboard/components/ProjectDetails.vue'

@Component({
  computed: {
    ...mapState({
      projects: 'list'
    }),
  },
  components: {
    ProjectDetails
  }
})

export default class ListProjects extends Vue {
  visible: boolean = false;
  project: Object = {};

  formatDate(formatDate: string) {
    return formatDate.slice(0, 10).split('-').reverse().join('/')
  }
  selectedProject(val: Object){
    return this.project =  val, this.visible = true
  }
}

</script>
<template>
<div>
  <el-card class="card" v-for="(listProjects, index) in projects" :key="index">
    <div class="card__detail">
      <div class="card__title">
        <div>Projeto - {{listProjects.nome}}</div>
        <span>Criado em: {{formatDate(listProjects.dataInclusao)}}</span>
      </div>

      <div class="card__title">
        <div>Lead - {{listProjects.lead}}</div>
        <span>{{listProjects.leadEmail}}</span>
      </div>
      
      <div class="card__button">
        <el-button @click="selectedProject(listProjects)" type="primary">DETALHES</el-button>
      </div>
    </div>
  </el-card>

  <ProjectDetails :dialogVisible.sync="visible" :projectDetails="project"/>
</div>
</template>

<style lang="scss" scoped>
.card {
  margin: 1% 0px;
  height: 100px;

  .card__detail {
    display: grid;
    grid-template-columns: 1fr 1fr max-content;
    align-items: center;
  }
  .card__title {
    display: grid;
    font-weight: 500;
    font-size: 18px;
    
    span {
      color: #707070;
      font-size: 14px;
      font-weight: 400;
    }

    .lead {
      background-color: #2ad17e; 
      border-radius: 10px; 
      margin: auto; 
      padding: 5px;
    }
  }

  .card__button {
    place-self: center;
  }
}
.card:hover {
  background-color: #FAFDFB;
}
</style>