<script lang="ts">
import { Component, Vue, Prop, PropSync } from 'vue-property-decorator';
import { mapState } from 'vuex';

@Component({
  data() {
    return {
      input: '000'
    }
  },
  computed: {
    ...mapState({
      projects: 'list'
    }),
  },
  methods: {
    colorMapTask(val) {
      const color_map = {
        yellow: 'yellow',
        green: 'green',
        red: 'red'
      }
      return color_map[val];
    }
  }
})


export default class ProjectDetails extends Vue {
  @Prop(Object) readonly projectDetails: Object | {};
  @PropSync("dialogVisible", { type: Boolean }) syncedDialogVisible!: Boolean;
  formatDate(formatDate: string) {
    return formatDate.slice(0, 10).split('-').reverse().join('/')
  }
}

</script>
<template>
<el-dialog :visible.sync="syncedDialogVisible" width="55%">
  <section class="project">
    <div class="first">
      <div class="first__user">
        <img src="@/assets/images/rectangle.svg" alt="Image title">
        <div class="first__user__title">
          <div>
            {{projectDetails.nome}}
            <el-link :underline="false" class="btn__purple">EDITAR</el-link>
          </div>       
          <span class="first__user__date">
            Criado: {{formatDate(projectDetails.dataInclusao)}}
            <el-divider direction="vertical"></el-divider>
            Alterado: {{formatDate(projectDetails.dataInclusao)}}
          </span>
        </div>
      </div>
      <div class="first__body">
        <div class="first__body__first">
          <div>
            <span class="text--bold">Tipo:</span><span class="text--normal">{{projectDetails.tipo}}</span>
          </div>
          <div>
            <span class="text--bold">Dono:</span><span class="text--normal">Usuário</span>
          </div>  
          <div>
            <span class="text--bold">Loja:</span><span class="text--normal">{{projectDetails.vendedorResponsavel}}</span>
          </div>
          <div class="ClosingForecast">
            <span class="text--bold">Previsão de Fechamento:</span><el-select v-model="value" placeholder="Escolher data"></el-select>
          </div>
        </div>

        <div class="first__body__second">
          <div class="grid">
            <span class="text--bold">Fluxo de Projeto:</span>
            <span class="project_flow">
              Este projeto não pertence a nenhuma etapa ou status. Altere abaixo:
            </span>
          </div>

          <div class="project__flux-information">Proposta Comercial Técnica</div>
          <el-button type="text" size="mini" class="project__action">VER FLUXO COMPLETO</el-button>
        </div>
        <div class="first__body__three">
          <div class="grid">
            <span class="text--bold" style="text-align: right;">Tarefas:</span>
            <input v-model="input" type="number" name="number" :class="['task', colorMapTask('yellow')]">
            <input v-model="input" type="number" name="number" :class="['task', colorMapTask('green')]">
            <input v-model="input" type="number" name="number" :class="['task', colorMapTask('red')]">
          </div>
        </div>
      </div>
    </div>

    <el-divider class="line" direction="vertical"></el-divider>

    <div class="second">
      <div class="second__user">
        <img src="@/assets/images/rectangle.svg" alt="Image title">
        <div class="second__user__title">
          <div>
            {{projectDetails.lead}}
            <el-link :underline="false" class="btn__purple">VER LEAD</el-link>
          </div>       
          <span class="second__user__date">Pessoa Fisica</span>
        </div>
        <div style="margin-left: auto;">
          <el-button type="primary" icon="el-icon-caret-right" plain>Video Tutorial</el-button>
        </div>
      </div>
      <div class="second__body">
        <div class="second__body__first">
          <div>
            <span class="text--bold">Celular:</span><span class="text--normal">{{projectDetails.leadCelular}}</span>
          </div>
          <div>
            <span class="text--bold">E-mail:</span><span class="text--normal">{{projectDetails.leadEmail}}</span>
          </div>  
          <div class="ClosingForecast_second">
            <span class="text--bold">Responsável Comercial:</span><el-select v-model="value" placeholder="Escolher Usuário"></el-select>
          </div>
        </div>

        <div class="second__body__second">
          <div class="ClosingForecast_second">
            <span class="text--bold">Responsável Técnico:</span><el-select v-model="value" placeholder="Escolher Usuário"></el-select>
          </div>
        </div>
      </div>      
    </div>
  </section>
</el-dialog>
</template>

<style lang="scss" scoped>
.project {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 0%;  
}

.first {
  &__user {
    display: flex;

    &__title {
      padding: 1% 2%;
      font-size: 22px;
      font-weight: 700;
      color: #1E032E;
    }
    &__date {
      padding-top: 2%;
      font-size: 12px;
      color: #84037E;
      opacity: 0.5;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 8% 0% 0% 8%;
    
    &__first {
      display: grid;
      padding-right: 15%;
    }
    &__second {
      padding-right: 0%;
    }
    &__three {
      padding-right: 0%;
    }
  }
}

.line {
  border: 1px solid #EFF1F4;
  margin: 0px 10px;
  height: auto;
}
.second {
  &__user {
    display: flex;

    &__title {
      padding: 0% 2%;
      font-size: 22px;
      font-weight: 700;
      color: #1E032E;
    }
    &__date {
      margin-top: 10%;
      font-size: 12px;
      color: #84037E;
      opacity: 0.5;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 8% 0% 0% 8%;
    
    &__first {
      display: grid;
      padding-right: 15%;
    }
    &__second {
      margin-top: auto;
      padding-right: 0%;
    }
  }
}

.task {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  line-height: 16px;
  margin-left: auto;
  margin-bottom: 8px;
  padding-left: 20px;
}
.yellow {
  border: 1px solid yellow;
  color: yellow;
}
.green {
  border: 1px solid green;
  color: green;
}
.red {
  border: 1px solid red;
  color: red;
}

.btn {
  font-size: 14px;
  
  &__purple {
    color:#84037E;
    font-weight: 700;
  }
  &__blue {
    color:#015aff;
    font-weight: 700;
  }
}

.text--bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}
.text--normal {
  margin-left: 5%;;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
.ClosingForecast {
  padding-top: 15%;
}
.ClosingForecast_second {
  padding-top: 30%;
}

.project_flow {
  margin-left: 2%;
  font-size: 12px;
  color: grey;
}
.project__flux-information {
  background: #136B13;
  border-radius: 12px;
  color: #FFFFFF;
  padding: 2% 8% 2% 5%;
  font-size: 14px;
  width: 80%;
  margin: 15% 0%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}
</style>