<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ListProjects from '@/views/dashboard/components/ListProjects.vue'

@Component({
    components: {
        ListProjects
    }
})
export default class Projects extends Vue {}
</script>
<template>
    <div class="projects">
        <h1>Lista de Projetos</h1>
        <ListProjects/>
    </div>
</template>

<style lang="scss" scoped>
.projects {
    max-width: 40%;
    padding: 10px;
    margin: 0 auto;
}
h1 {
    color: #84037E;
    font-size: 3rem;
    padding-bottom: 20px;
}
</style>